@import "tailwindcss";

@theme {
  --font-heading: "Array", sans-serif;
  --font-title: "Kola", cursive;
  --font-body: "Nippo", sans-serif;
}

/* Array */
@font-face {
  font-family: "Array";
  src: url("/fonts/Array-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Array";
  src: url("/fonts/Array-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Array";
  src: url("/fonts/Array-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Kola */
@font-face {
  font-family: "Kola";
  src: url("/fonts/Kola-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Nippo */
@font-face {
  font-family: "Nippo";
  src: url("/fonts/Nippo-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}
